<div class="column">
  <h3 class="subtitle is-4">
    <strong>Type: </strong>
    <%= investment.name %>
  </h3>
</div>

<div class="column">
  <h3 class="subtitle is-4">
    <strong>Amount: </strong>
    $ <%= investment.amount %>
  </h3>
</div>
