<%= render "form", group: @group %>
<br>
<div class="navbar is-fixed-bottom bottom">
  <%= link_to "Back to Groups", groups_path, {method: :get, class: "button is-large is-outlined is-fullwidth bottom-btn"} %>
</div>
