<div id="<%= dom_id group_investment %>">
  <p>
    <strong>Group:</strong>
    <%= group_investment.group_id %>
  </p>

  <p>
    <strong>Investment:</strong>
    <%= group_investment.investment_id %>
  </p>

</div>
