<p style="color: green"><%= notice %></p>

<h1>Group investments</h1>

<div id="group_investments">
  <% @group_investments.each do |group_investment| %>
    <%= render group_investment %>
    <p>
      <%= link_to "Show this group investment", group_investment %>
    </p>
  <% end %>
</div>

<%= link_to "New group investment", new_group_investment_path %>
