<div class="container">
  <br><br>
  <div class="is-flex is-flex-grow-1 is-justify-content-center is-align-items-center pb-6">
    <h1 class="title is-1">Investment Budget Application</h1>
  </div>
  <br><br><br>
	<div class="is-flex flex-direction-column size-is buttons">
		<%= link_to "Already an User? Log in here", new_user_session_url, class: "button is-large is-fullwidth is-info" %>
		<%= link_to "New? Sign up now", new_user_registration_url, class: "button is-large is-fullwidth is-primary" %>
	</div>
</div>
